@import url(//fonts.googleapis.com/earlyaccess/notosansarmenian.css);
@font-face {
  font-family: 'WeblySleekUISemibold';
  src: url('weblysleekuisb.eot');
  src: url('weblysleekuisb.eot?#iefix') format('embedded-opentype'),
       url('weblysleekuisb.woff') format('woff'),
       url('weblysleekuisb.ttf') format('truetype'),
       url('weblysleekuisb.svg#WeblySleekUISemibold') format('svg');
}

.main {
  width: 100%;
}

.header {
  width: 100%;
}


.sticky-top {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 7%;
} 

.logoToggle {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  width: auto; 
  height: 30px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.6;
}

.closeTab  {
  margin-left: 20px;
}

.categories-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  margin-top: 14px;
  font-family: 'WeblySleekUISemibold',sans-serif;
  padding-bottom: 0;
  width: 100%;
}

.categories-flex-container :hover {
  color: #999;
}

@media (min-width: 768px) {
  .toggle {
    display: none;
  }
  .categories-flex-container {
    flex-wrap: wrap;
  }

  .openTab {
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
 .closeTab {
    display: none;
  }
  .categories-flex-container {
    flex-direction: column;
    align-items: center;
  }
  .openTab {
    margin-top: 10px;
  }
}

.toggle {
  font-size: 15px;
  margin-right: 5px;
  width: 40px;
  height: auto;
  margin-left: auto;
  margin-top: 10px;
  cursor: pointer;
}

.toggle:hover {
  opacity: 0.6;
}

.img :hover {
  opacity: 0.8;
  cursor: pointer;
}


.tab :hover {
  color: #999;
}

.listing {
  margin-bottom: 30px;
  width: 300px;
}

.listings {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.l h5 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: 1px solid red;
  text-align: center;
}

.listings img {
  border-radius: 2px;
}

.listing div {
  margin-top: 14px;
}

.listings h5 {
  font-family: 'WeblySleekUISemibold',sans-serif;
  color: #111;
  font-weight: bold;
  font-size: 16px;

}

.listings p {
  /*color: #7ed1ee;*/
  color: #c3946a;
  font-weight: 990;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.flex {
  display: flex;
}

.listings span {
  font-family: 'WeblySleekUISemibold',sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 10px;
}

.modal {
  height: auto; 
  display: block; 
  justify-content: center;
  align-items: center;
}

.modalCancel {
  float: right;
  width: 20px;
  height: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.modalCancel:hover {
  opacity: 0.6;
  cursor: pointer;
}

.androidBtn {
  margin-top: 10px;
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  border: none;
}

.androidBtn:hover {
  background-color: #f3f1f1;
  border: solid #d4d2d2;

}

.androidText {
  margin-top: 8px;
  margin-left: 8px;
  color: black;
}

.iosBtn {
  padding-left: 10px;
  margin-top: 10px;
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: none;
  border-color: dimgary;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

.iosBtn:hover {
  background-color: #f3f1f1;
  border: solid #d4d2d2;
}


.iosText {
  color: black;
  margin-top: 10px;
  margin-left: 15px;
  box-shadow: none;
  color: black;  
}

.modalButtons {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bootstrapButton:hover , .bootstrapButton:focus, .bootstrapButton:active {
  box-shadow: none;
  background-color: transparent;
  border-color: dimgary;
}




