@import url(//fonts.googleapis.com/earlyaccess/notosansarmenian.css);
@font-face {
  font-family: 'WeblySleekUISemibold';
  src: url('weblysleekuisb.eot');
  src: url('weblysleekuisb.eot?#iefix') format('embedded-opentype'),
       url('weblysleekuisb.woff') format('woff'),
       url('weblysleekuisb.ttf') format('truetype'),
       url('weblysleekuisb.svg#WeblySleekUISemibold') format('svg');
}

.main {
  width: 100%;
}

.header-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.toggler {
  justify-content: flex-start;
}

.sticky-top {
  background-color: #fff;
  width: 100%;
  height: 7%;
  margin-left: 0;
  margin-right: 0;
}

#header {
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.1s ease;
  padding-top: 0;
}

#header.smaller {
  background-color: #fff;
  position: fixed;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 20%;
  width: 100%;
  text-align: center;
  z-index: 999;
  padding-bottom: 12px;
  padding-top: 0;
}



.categories-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  margin-top: 14px;
  font-family: 'WeblySleekUISemibold',sans-serif;
  padding-bottom: 0;
  /*width: 700px;*/
}

@media (min-width: 1125px) {
  .categories-flex-container {
    
  }
}

@media (max-width: 767px) {
  .categories-flex-container {
    flex-direction: column;
    width: auto;
    justify-content: center;
  }
  .tab {
    margin-top: 10px;
  }
}

.categories-flex-container :hover {
  color: #999;
}

.toggler:focus {
  outline: none;
}

.bold {
  font-weight: bold;
}

.img :hover {
  opacity: 0.8;
  cursor: pointer;
}

.tab {
  margin-left: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab :hover {
  color: #999;
}

.listing {
  margin-bottom: 30px;
  width: 300px;
}

.listings {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.l h5 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: 1px solid red;
  text-align: center;
}

.listings img {
  border-radius: 2px;
}

.listing div {
  margin-top: 14px;
}

.listings h5 {
  font-family: 'WeblySleekUISemibold',sans-serif;
  color: #111;
  font-weight: bold;
  font-size: 16px;

}

.listings p {
  /*color: #7ed1ee;*/
  color: #c3946a;
  font-weight: 990;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.flex {
  display: flex;
}

.listings span {
  font-family: 'WeblySleekUISemibold',sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 10px;
}





