@import url(//fonts.googleapis.com/earlyaccess/notosansarmenian.css);

.header-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  -webkit-transition: all 1s ease;
}

#header {
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.2s ease;
}


#header.smaller {
  background-color: #e5ffed;
  position: fixed;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin: 0 0;
  height: 80px;
  width: 100%;
  text-align: center;
}



.categories-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: center;
  cursor: pointer;
  margin-top: 6px;
  font-family: 'Noto Sans Armenian', sans-serif;
  padding-bottom: 0;

}

.categories-flex-container :hover {
  text-decoration: underline;
}

.underlined {
  text-decoration: underline;
}

.tab {
  margin-left: 10px;
}

.listing {
}

.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listings img {
  border-radius: 2px;
}

.listings h5 {
  font-family: 'Noto Sans Armenian', sans-serif;
  color: #111;
  font-weight: 900;
  font-size: 12px;

}

.listings p {
  color: #7ed1ee;
  font-weight: bold;
  font-size: 12px;
  margin-left: 20px;
}

.listings em {
  font-family: 'Noto Sans Armenian', sans-serif;
  color: #999;
  font-size: 12px;
  font-weight: bold;
}

.info {
  display: flex;
  height: 10px;
}

.moreInfo {
  margin-bottom: 45px;
  margin-top: 15px;
}

/*@font-face {
font-family: "CustomFont";
src: url("CustomFont.eot");
src: url("CustomFont.woff") format("woff"),
url("CustomFont.otf") format("opentype"),
url("CustomFont.svg#filename") format("svg");
}*/






