@import url(//fonts.googleapis.com/earlyaccess/notosansarmenian.css);

.header-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
}

#header {
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.1s ease;
  padding-top: 0;
}

#header.smaller {
  background-color: #fff;
  position: fixed;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 20%;
  width: 100%;
  text-align: center;
  z-index: 999;
  padding-bottom: 12px;
  padding-top: 0;
}



.categories-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  margin-top: 25px;
  font-family: 'Noto Sans Armenian', sans-serif;
  padding-bottom: 0;

}

.categories-flex-container smaller {
  margin-top: 1px;
}

.categories-flex-container :hover {
  color: #999;
}

.bold {
  font-weight: bold;
}

.img :hover {
  opacity: 0.8;
  cursor: pointer;
}

.tab {
  margin-left: 40px;
}

.listing {
  margin-bottom: 30px;
  width: 300px;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

.l h5 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  border: 1px solid red;
  text-align: center;
}

.listings img {
  border-radius: 2px;
}

.listing div {
  margin-top: 14px;
}

.listings h5 {
  font-family: 'Noto Sans Armenian', sans-serif;
  color: #111;
  font-weight: bold;
  font-size: 16px;

}

.listings p {
  /*color: #7ed1ee;*/
  color: #ffd700;
  font-weight: 990;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.flex {
  display: flex;
}

.listings span {
  font-family: 'Noto Sans Armenian', sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 10px;
}





