@import url(//fonts.googleapis.com/earlyaccess/notosansarmenian.css);

.header-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  /*-webkit-transition: all 1s ease;*/
}

#header {
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.1s ease;
}


#header.smaller {
  background-color: #e5ffed;
  position: fixed;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin: 0 0;
  height: 80px;
  width: 100%;
  text-align: center;
}



.categories-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  cursor: pointer;
  margin-top: 6px;
  font-family: 'Noto Sans Armenian', sans-serif;
  padding-bottom: 0;

}

.categories-flex-container :hover {
  color: #888;
}

.bold {
  font-weight: bold;
}

.tab {
  margin-left: 10px;
}

.listing {
  margin-bottom: 30px;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listings img {
  border-radius: 2px;
}

.listing div {
  margin-top: 14px;
}

.listings h5 {
  font-family: 'Noto Sans Armenian', sans-serif;
  color: #111;
  font-weight: bold;
  font-size: 16px;

}

.listings p {
  /*color: #7ed1ee;*/
  color: #ffd700;
  font-weight: 990;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.listings span {
  font-family: 'Noto Sans Armenian', sans-serif;
  color: #333;
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 10px;
}

.info {
  display: flex;
  height: 10px;
}

.moreInfo {
  margin-bottom: 45px;
  margin-top: 15px;
}

/*@font-face {
font-family: "CustomFont";
src: url("CustomFont.eot");
src: url("CustomFont.woff") format("woff"),
url("CustomFont.otf") format("opentype"),
url("CustomFont.svg#filename") format("svg");
}*/






